
<style>

.kitten {
    color: pink;
    border: solid 2px greenyellow;
} 
h1 {
    color: blueviolet;
}

h3 {
    color:lightblue;
}

p {
    font-size: 14px;
    color: orange;
}

ol {
    color:lightseagreen;
}
</style>
